
.root {
    -fx-background-color: white;
}

.card-view {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 5, 5);
}

.card-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #00796b;
    -fx-padding: 5px;
    -fx-underline: true;
    -fx-font-style: italic;
}


.button {
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-font-weight: bold;
    -fx-background-color: #00796b;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 4);
}
